# **/*.swp
*.swp
# **/.*~
*~
# **/.idea/*
**/.idea/
.vscode/

# **/Makefile
# **/Makefile.in
Makefile
Makefile.in
*.in
aclocal.m4
configure
# autom4te.cache/*
autom4te.cache/
tcsh/python/swig.mk
# config.h.in~
# configure~
config.h
config.status
libtool
stamp-h1
tcsh/run
# **/.deps/
.deps/
authors.h
# lib/misc/.dirstamp
# src/*.dirstamp
# src/**/.dirstamp
.dirstamp
src/parse/location.hh
src/parse/parsetiger.cc
src/parse/parsetiger.hh
src/parse/parsetiger.html
src/parse/parsetiger.output
src/parse/parsetiger.stamp
src/parse/parsetiger.xml
src/parse/prelude.cc
src/parse/scantiger.cc
src/parse/scantiger.hh
src/tc
src/version.cc
src/version.stamp
# lib/misc/test-deref
# lib/misc/test-deref.trs
# lib/misc/test-error
# lib/misc/test-error.trs
# lib/misc/test-escape
# lib/misc/test-escape.trs
# lib/misc/test-graph
# lib/misc/test-graph.trs
# lib/misc/test-indent
# lib/misc/test-indent.trs
# lib/misc/test-scoped
# lib/misc/test-scoped.trs
# lib/misc/test-separator
# lib/misc/test-separator.trs
# lib/misc/test-symbol
# lib/misc/test-symbol.trs
# lib/misc/test-timer
# lib/misc/test-timer.trs
# lib/misc/test-unique
# lib/misc/test-unique.trs
# lib/misc/test-variant
# lib/misc/test-variant.trs
# lib/misc/test-xalloc
# lib/misc/test-xalloc.trs
# src/ast/test-ast
# src/ast/test-ast.trs
# src/object/test-parse
# src/object/test-parse.trs
# src/parse/test-parse
# src/parse/test-parse.trs
# src/parse/test-tweast
# src/parse/test-tweast.trs

# Ignore test binaries
src/parse/test-*
src/ast/test-*
src/object/test-*
lib/misc/test-*

!src/parse/test-*.*
!src/ast/test-*.*
!src/object/test-*.*
!lib/misc/test-*.*

*.trs

configure.lineno

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build/
Build/
build-*/

# CMake generated files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt 
compile_commands.json

# Temporary files
*.tmp 
*.log 
*.bak 
*.swp 

# vcpkg
vcpkg_installed/

# debug information files
*.dwo

# test output & cache
Testing/
.cache/
